@import "tailwindcss";

@font-face {
  font-family: TikTok;
  src: url("/fonts/tiktoksans-variable.ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: TikTok, sans-serif;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}


@layer components {
  .page {
    @apply space-y-6;
  }

  /* Shared form styles */
  .control {
    @apply w-full h-[50px] px-4 text-lg outline-none border-2 rounded-none bg-gray-100 border-transparent;
  }

  .control-error {
    @apply bg-white border-2 rounded-none;
    border-color: var(--brand);
  }

  .error-text {
    @apply mt-1 text-sm font-semibold;
    color: var(--brand);
  }

  .footer-link {
    @apply underline cursor-pointer hover:text-white;
  }
}