@import "tailwindcss";

@font-face {
  font-family: TikTok;
  src: url('@/public/fonts/tiktoksans-variable.ttf');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: TikTok, sans-serif;
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}

* {
  font-family: inherit;
}